@using Clothing_Store.Core.ViewModels.Products;
@model ProductInputViewModel

@{
    this.ViewData["Title"] = "Добавяне на продукт";
}

<partial name="_NavigationAdministrationPartial" />


<div class="modal-dialog">
    <div class="tab-pane" id="mg-signup">
        <div class="mg-account-form-outer">
            <form class="mg-form" asp-action="Add" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Продукт ID</label>
                    <input asp-for="@Model.ProductId" type="text" class="form-control mg-input" placeholder="Въведете id-то на продукта">
                    <span class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Цвят ID</label>
                    <input asp-for="@Model.ProductColorId" class="form-control mg-input" type="text" placeholder="Въведете id-то на цвета на продукта">
                    <span  class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Пол</label>
                    <input asp-for="@Model.IsMale" class="form-control mg-input" type="text" placeholder="Въведете true/false, в зависимост за какъв пол е продукта">
                    <span class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn mg-btn mg-light-bg-btn mg-form-btn">Напълни базата от данни</button>
                </div>
            </form>
        </div>
    </div>
</div> 