<div class="modal-content mg-account-modal-content">
    <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <nav class="mg-account-tabs">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link mg-account-tab-btn active" id="mg-signin-tab" data-bs-toggle="tab" data-bs-target="#mg-signin" type="button" role="tab" aria-controls="mg-signin" aria-selected="true">Sign In</button>
                <button class="nav-link mg-account-tab-btn" id="mg-signup-tab" data-bs-toggle="tab" data-bs-target="#mg-signup" type="button" role="tab" aria-controls="mg-signup" aria-selected="false">Sign Up</button>
            </div>
        </nav>
        <div class="tab-content mg-account-tab-content" id="nav-tabContent">
            @await Html.PartialAsync("_LoginPartial")
            @await Html.PartialAsync("_RegisterPartial")
        </div>

    </div>
</div>
