@using Clothing_Store.Core.Contracts;
@using Clothing_Store.Data.Data.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
@inject IFavoriteService favoriteService
@inject IShoppingBagService shoppingBagService

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

    string temporaryUserId = shoppingBagService.GetOrCreateTemporaryUserId();
    userId ??= temporaryUserId;


    int countOfFavoriteProducts = await this.favoriteService.CountOfFavoriteProductsAsync(userId);
    int countOfProductsInBag = await this.shoppingBagService.CountOfProductsInBagAsync(userId);
}

<div class="mg-header-outer">
    <div class="container-fluid gx-lg-5">
        <div class="row gx-0 gx-md-2 align-items-center">
            <div class="col-md-5 col-2 order-3 order-md-0 d-flex d-md-block justify-content-end justify-content-md-start">
                <div>
                    <div class="mg-menu-overlay"></div>
                    <nav class="mg-menu" id="menu">
                        <div class="menu-mobile-header">
                            <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                            <div class="menu-mobile-title"></div>
                            <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <ul class="menu-section mg-menu-outer">
                            <li class="menu-item-has-children">
                                <a asp-controller="Home" asp-action="Index">Начална страница</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-controller="Products" asp-action="All">Магазин <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="mg-sub-menu-outer">
                                    <div class="menu-subs">
                                        <ul>
                                            @* <li><a href="collection.html">New Arrivals</a></li>
                                            <li><a href="collection.html">Top Trending</a></li> *@
                                            <li><a asp-controller="Products" asp-action="AllMenProducts">Мъжка Колекция</a></li>
                                            <li><a asp-controller="Products" asp-action="AllWomenProducts">Женска Колекция</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Pages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="mg-sub-menu-outer">
                                    <div class="menu-subs">
                                        <ul>
                                            <li><a href="collection.html">Collection</a></li>
                                            <li><a href="product.html">Product</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="thank-you.html">Thank you</a></li>
                                            <li><a href="profile.html">Profile</a></li>
                                            <li><a href="my-orders.html">My orders</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="single-blog.html">Single blog</a></li>
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="privacy-policy.html">Privacy policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item"><a href="blog.html">Blog</a></li>
                            <li class="menu-item"><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div>
                        <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-5">
                <div class="header-logo text-center">
                    <a asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/images/svgs/logo.svg" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 col-5 text-end">
                <div class="header-icons-outer">
                    <ul>
                        <li class="mg-search-icon"><a href="#" data-bs-toggle="modal" data-bs-target="#search-popup"><img src="~/images/svgs/search.svg" alt="" /></a></li>
                        <li><a asp-controller="Favorites" asp-action="All"><img src="~/images/svgs/wishlist.svg" alt="" /><span class="mg-header-icon-counter">@countOfFavoriteProducts</span></a></li>
                        @if (this.SignInManager.IsSignedIn(this.User))
                        {
                            <li><a href="#" id="logout"><img src="~/images/logout.png" alt="" /></a></li>
                        }
                        else
                        {
                            <li><a href="#" id="account" onclick="getAuthPartialView(event)" data-bs-toggle="modal" data-bs-target="#account-modal"><img src="~/images/svgs/profile.svg" alt="" /></a></li>
                        }
                        <li><a asp-controller="ShoppingBags" asp-action="All"><img src="~/images/svgs/cart.svg" alt="" /><span class="mg-header-icon-counter cart-counter">@countOfProductsInBag</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>