<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothing_Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mg-menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Clothing_Store.styles.css" asp-append-version="true" />
</head>
<body class="home-2">
    <header class="mg-transparent-header">
        <div class="mg-header-outer">
            <div class="container-fluid gx-lg-5">
                <div class="row gx-0 gx-md-2 align-items-center">
                    <div class="col-md-2 col-lg-3 col-5">
                        <div class="header-logo">
                            <a href="index.html"><img class="img-fluid" src="assets/images/Footer-Logo.svg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-5 col-2 order-3 order-md-0 d-flex  justify-content-end mg-center-menu-align justify-content-md-center">
                        <div>
                            <div class="mg-menu-overlay"></div>
                            <nav class="mg-menu" id="menu">
                                <div class="menu-mobile-header">
                                    <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                    <div class="menu-mobile-title"></div>
                                    <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                                <ul class="menu-section mg-menu-outer">
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Home <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="mg-sub-menu-outer">
                                            <div class="menu-subs">
                                                <ul>
                                                    <li><a href="index.html">Home 1</a></li>
                                                    <li><a href="home2.html">Home 2</a></li>
                                                    <li><a href="home3.html">Home 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Shop <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="mg-sub-menu-outer">
                                            <div class="menu-subs">
                                                <ul>
                                                    <li><a href="collection.html">New Arrivals</a></li>
                                                    <li><a href="collection.html">Top Trending</a></li>
                                                    <li><a href="collection.html">Winter Collection</a></li>
                                                    <li><a href="collection.html">Summer Collection</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">Pages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="mg-sub-menu-outer">
                                            <div class="menu-subs">
                                                <ul>
                                                    <li><a href="collection.html">Collection</a></li>
                                                    <li><a href="product.html">Product</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="thank-you.html">Thank you</a></li>
                                                    <li><a href="profile.html">Profile</a></li>
                                                    <li><a href="my-orders.html">My orders</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="single-blog.html">Single blog</a></li>
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="privacy-policy.html">Privacy policy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                                    <li class="menu-item"><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                            <div>
                                <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 col-5 text-end">
                        <div class="header-icons-outer mg-header-icon-style2">
                            <ul>
                                <li class="mg-search-icon mg-search-box-main">
                                    <div class="mg-search-box">
                                        <div class="input-group">
                                            <div class="form-outline">
                                                <input type="search" placeholder="Search Here.." class="form-control">
                                            </div>
                                            <button type="button" class="btn">
                                                <img src="assets/images/search-white.svg" alt="" />
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="wishlist.html"><img src="assets/images/wishlist-white.svg" alt="" /><span class="mg-header-icon-counter">1</span></a></li>
                                <li><a href="#" data-bs-toggle="modal" data-bs-target="#account-modal"><img src="assets/images/account-white.svg" alt="" /></a></li>
                                <li><a href="cart.html"><img src="assets/images/shopping-bag-white.svg" alt="" /><span class="mg-header-icon-counter cart-counter">1</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <main role="main">
            @RenderBody()
        </main>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Clothing_Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
