<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothing_Store</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick-theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mg-animations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mg-menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery.highlight.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />

    <partial name="_ValidationScriptsPartial" />
</head>
<body class="home-2">

    @if (this.ViewBag.IsHomePage)
    {
        <header class="mg-transparent-header">
            <partial name="_NavigationHomePartial.cshtml" />
        </header>
    }
    else
    {
        <header>
            <partial name="_GlobalNavigationPartial.cshtml" />
        </header>
    }
    <div class="modal fade mg-account-modal-outer" id="account-modal" tabindex="-1" aria-labelledby="account-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Clothing_Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/account.js" asp-append-version="true"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script> *@
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.js" asp-append-version="true"></script>
    <script src="~/js/jquery.highlight.js" asp-append-version="true"></script>
    <script src="~/js/gen_validatorv4.js" asp-append-version="true"></script>
    <script src="~/js/slick.js" asp-append-version="true"></script>
    <script src="~/js/mg-menu.js" asp-append-version="true"></script>
    <script src="~/js/mg-product.js" asp-append-version="true"></script>
     <script src="~/js/mg-collection.js" asp-append-version="true"></script>
    <script src="~/js/mg-common.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
