@using Clothing_Store.Core.ViewModels.Account;
@model LoginViewModel

<div class="tab-pane fade show active" id="mg-signin" role="tabpanel" aria-labelledby="mg-signin-tab">
    <div class="mg-account-form-outer">
        <form class="mg-form" id="login">
            <div class="mb-3">
                <label class="form-label">User Name</label>
                <input asp-for="@Model.Email" type="text" class="form-control mg-input" placeholder="Enter Email">
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input asp-for="@Model.Password" type="text" class="form-control mg-input" placeholder="Enter Password">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="mb-3 text-end">
                <div class="mg-form-text"><a href="#">Forgot Password?</a></div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn mg-btn mg-light-bg-btn mg-form-btn">Log In</button>
            </div>
        </form>
        <div class="mt-4 text-center">
            <div class="mg-form-text">If you don't have an account ?<a class="mg-signup-trigger" href="javascript:void(0);"> Sign Up</a></div>
        </div>
        <div class="mg-login-other-options mt-4 text-center">
            <div class="mg-login-other-heading">
                <div class="mg-form-text">Log in with</div>
            </div>
            <ul>
                <li><a href="#"><img src="assets/images/FB.svg" alt="" /></a></li>
                <li><a href="#"><img src="assets/images/Twitter.svg" alt="" /></a></li>
                <li><a href="#"><img src="assets/images/Insta.svg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div>