@page
@model LoginModel

@{
    ViewData["Title"] = "Вписване";
}
<div class="modal-dialog">
    <div class="tab-pane" id="mg-signup">
        <div class="mg-account-form-outer">
            <form class="mg-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Имейл адрес</label>
                    <input type="text" asp-for="Input.Email" class="form-control mg-input" placeholder="Въведете вашия имейл">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Парола</label>
                    <input asp-for="Input.Password" class="form-control mg-input" type="password" placeholder="Въведете парола">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-end">
                    <div class="mg-form-text"><a href="#">Забравена парола ?</a></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn mg-btn mg-light-bg-btn mg-form-btn">Вписване</button>
                </div>
            </form>
            <div class="mt-4 text-center">
                <div class="mg-form-text">Нямате акаунт ?<a class="mg-signup-trigger" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Регистрация.</a></div>
            </div>
            @*  <div class="mg-login-other-options mt-4 text-center">
            <div class="mg-login-other-heading">
            <div class="mg-form-text">Log in with</div>
            </div>
            <ul>
            <li><a href="#"><img src="assets/images/FB.svg" alt="" /></a></li>
            <li><a href="#"><img src="assets/images/Twitter.svg" alt="" /></a></li>
            <li><a href="#"><img src="assets/images/Insta.svg" alt="" /></a></li>
            </ul>
            </div> *@
        </div>
    </div>
</div> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
