<link rel="stylesheet" href="/css/payment-failed.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Неуспешно плащане";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success _failed">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <h2> Вашето плащане е неуспешно. </h2>
                <p> Вашата поръчка беше направена.
                    Можете да я премахнете, като посетите раздела 'Моите поръчки'.
                    Ако решите да не я премахвате, имате и опцията за наложен платеж.</p>
            </div>
        </div>
    </div>
</div> 

